<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Add New Blog</title>
</head>
<body>
    <%- include("./partials/navbar") %>
    
    <div class="container w-50">
        <h2>Add a blog</h2>
        <form action="/blog/addBlog" method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Body-content</label>
                <textarea class="form-control" id="body" name="body" rows="3"></textarea>
              </div>
              <div class="mb-3">
                <label for="formFile" class="form-label">Cover Image</label>
                <input class="form-control" type="file" name="coverImage" id="formFile">
            </div>  
            <button type="submit" class="btn btn-primary">Create Blog</button>
          </form>
        </div>

    <%- include("./partials/scripts") %>
</body>
</html>